@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300);
body{
	width:360px;
	height:640px;
	border: 1px solid #000;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:22px;
	margin:0;
}
h1{
	margin-top: 0;
}
.content{
	padding:10px;
}

.medicine-list{
	min-height:200px;
	margin: 0 auto;
	padding: 10px;
	background-color: #E8F8FF;
	text-align:center;
}
a.icon{
	text-decoration: none;
}
span{
	color:#0E2E8C;
	font-size:30px;
}

.input-row{
	display: block;
	margin: 10px 0;
	height:60px;
}
.input-row label{
	display:inline-block;
	width:97px;
	margin-right:10px;
	text-align:right;

}
.input-row input[type=text]{
	height:30px;
}


.footer{
	display:block;
	position:fixed;
	left:0;
	top:590px;
	height:50px;
	width:360px;
}
.footer .home{
	float:right;
	margin-right:25px;
}
.footer .button{
	float:center;
	margin-left:150px;
}

.button{
	text-decoration: none;
	background-color:#0E2E8C;
	padding:5px 10px;
	border-radius: 5px;
	color:#fff;
}

.cf:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.cf {
    display: inline-block;
}
 
html[xmlns] .cf {
    display: block;
}
 
* html .cf {
    height: 1%;
}

