@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300);
body{
	width:360px;
	height:640px;
	border: 1px solid #000;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:22px;
	margin:0;
}
a{
	text-decoration: none;
	color:#0E2E8C;
}
h1{
	margin-top: 0;
}
h1.title{
	text-shadow:3px 3px #E8F8FF;
	color:#0E2E8C;
}
.content{
	padding:10px;
	position:relative;
}

.medicine-list{
	min-height:200px;
	margin: 0 auto;
	padding: 10px;
	background-color: #E8F8FF;
	text-align:center;
}
a.icon{
	text-decoration: none;
	display: inline-block;
}
span{
	color:#0E2E8C;
	font-size:30px;
}

.input-row{
	display: block;
	margin: 10px 0;
	height:60px;
}
.input-row label{
	display:inline-block;
	width:97px;
	margin-right:10px;
	text-align:right;
	line-height:42px;
}

.jqTransformHidden{
	display:none;
}
.jqTransformSelectWrapper div{
	border:1px solid #0E2E8C;
}
.jqTransformSelectWrapper{
	font-size:28px;
	width:125px;
	float: left;
	margin-left:60px;
}
.hour .jqTransformSelectWrapper{
	width:100px;
	margin-left:0px;
}
.jqTransformSelectOpen{
	padding-right:10px;
	float:right;
}
.jqTransformSelectOpen:before{
	content:'\25BC';
	width:200px;
	font-size:20px;
}

.jqTransformSelectWrapper ul{
	position: absolute;
	width: 98px;
	list-style: none;
	padding-left: 0px;
	overflow: scroll;
	margin-top: 0px;
	border:1px solid #0E2E8C;
	border-top:none;
	max-height: 100px;
	background: #fff;

}
.jqTransformSelectWrapper ul li{
	text-align: left;
	padding-left: 10px;
}

.input-row label.two-line{
	line-height:22px;
}
.input-row label.small{
	width:50px;
}
.input-row .left{
	float:left;
	width:107px;
}
.input-row .right{
	float:left;
	width:230px;
}
.input-row input[type=text]{
	height:36px;
	width:200px;
	font-size:26px;
	border:1px solid #0E2E8C;
}
.input-row input[type=text].short{
	width:50px;
}
.input-row textarea{
	width:200px;
	height:100px;
	border:1px solid #0E2E8C;
}
.footer{
	display:block;
	position:fixed;
	left:0;
	top:590px;
	height:50px;
	width:360px;
}
.footer .home{
	float:right;
	margin-right:25px;
}
.footer .cal{
	margin-left:25px;
}
.footer .button{
	float:center;
	margin-left:150px;
}

.button{
	text-decoration: none;
	background-color:#0E2E8C;
	padding:5px 10px;
	border-radius: 5px;
	color:#fff;
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
p{
	margin:3px 0;
}
.label{
	width:120px;
	margin-right:10px;
	float:left;
	text-align: right;
	color:#0E2E8C;
}
.info{
	width:200px;
	float:right;
	margin-left: 10px
}
.info.tall{
	line-height:58px;
}

.notification-buttons{
	position: absolute;
	right: 0;
	padding-right: 10px;
	top: 10px;

}
.notification-buttons a{
	color:#E8F8FF;
	background: #0E2E8C;
	font-size:18px;
	display:block;
	padding:3px 5px;
	border-radius: 5px;
	margin-bottom:2px;
}
.notification-buttons a span.icon-pencil:before,
span.icon-pencil{
	color:#fff;
	font-size:18px;
}

.reminder-set{
	width:340px;
	border-bottom: 1px solid #0E2E8C;
	margin-left:-10px;
	padding:10px;
	text-align:center;

}
.reminder-set:first-of-type{
	border-top:1px solid #0E2E8C;
}
.time, .am-pm, .month, .day, .year{
	display:inline-block;
	font-size:28px;
	margin: 0 5px;
}
.am-pm{
	margin:0 20px 0 0;
}
#add-notification{
	margin-top:10px;
}
.reminder-form{
	width:100%;
	padding:10px;
	display: none;
	border-bottom:1px solid #0E2E8C;
	margin-left:-10px;
	padding-left:10px;
	padding-bottom:0;
}
.reminder-form p{
	float:left;
	margin-left:10px;
}
.reminder-form .time,
.reminder-form .date{
	float:left;
	overflow: hidden;
}
input[type=time]{
	line-height:32px;
	font-size:26px;
	width:100px;
	font-family: 'Roboto Condensed', sans-serif;
	display:inline;
	float:left;
}
input[type=date]{
	line-height::32px;
	font-size:26px;
	width:197px;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline;
	float:right;
	color:#0E2E8C;
	border:1px solid #0E2E8C;
}
.meridian{
	width:25px;
	float:left;
	margin-left:2px;
}
.meridian span{
	font-size:14px;
	padding:1px;
	display:block;
	cursor: pointer;
	border-radius:2px;
}
.meridian span.selected{
	background: #0E2E8C;
	color:#E8F8FF;
}
.buttons{
	width:100%;
	text-align: center;
	display: inline-block;
	margin-top:10px;
}
.buttons a{
	color:#E8F8FF;
	background: #0E2E8C;
	font-size:18px;
	padding:3px 5px;
	border-radius: 5px;
	margin-bottom:2px;
}
}
